<div class="field field--select">
	<div class="field__label">{{label}}</div>

	<div class="field__container">
		<button class="field__select" type="button" onclick="fieldSelect.toggle(this)">
			<span class="field__value field__value--placeholder"
				onclick="fieldSelect.toggle(this)">{{placeholder}}</span>
			<span class="field__icon"></span>
		</button>
		<ul class="field__dropdown-list">
			{{#each list}}
			<li class="field__option" onclick="fieldSelect.change(this)
			{{../action}}('{{../name}}', {{value}})">
				{{text}}
			</li>
			{{/each}}
		</ul>
	</div>
</div>