<div class="field">
	<label class="field__label" for="{{name}}">{{label}}</label>
	<input oninput="{{action}}(this.name, this.value)" class="field__input" name="{{name}}" type="{{type}}"
		placeholder="{{placeholder}}" />
</div>